# .env
NODE_ENV=development
PORT=3000
# Set your database connection information here
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=database_dev
DB_DATABASE_TEST=database_test
DB_USER=databaseuser
DB_PASS=password
# user
BCRYPT_PASSWORD=your-secret-password
SALT_ROUNDS=10
TOKEN_SECRET=your-secret-token
